include *.py
include *.md
include LICENSE
include dongtai_agent_python/*.py
include dongtai_agent_python/config.json
include dongtai_agent_python/policy_api.json
include dongtai_agent_python/api/*.py
include dongtai_agent_python/assess/*.py
include dongtai_agent_python/assess_ext/*.c
recursive-include dongtai_agent_python/assess_ext/funchook *
exclude dongtai_agent_python/assess_ext/funchook/bin/*
recursive-exclude dongtai_agent_python/assess_ext/funchook/build *
recursive-exclude dongtai_agent_python/assess_ext/funchook/distorm/.git *
exclude dongtai_agent_python/assess_ext/funchook/lib/*
include dongtai_agent_python/assess_ext/include/*.h
include dongtai_agent_python/assess_ext/patch/*.c
include dongtai_agent_python/cli/*.py
include dongtai_agent_python/common/*.py
include dongtai_agent_python/context/*.py
include dongtai_agent_python/middlewares/*.py
include dongtai_agent_python/policy/*.py
include dongtai_agent_python/setting/*.py
include dongtai_agent_python/utils/*.py
include version.txt
