include *.py
include *.json
include dongtai_agent_python/*
include dongtai_agent_python/assess/*.py
include dongtai_agent_python/cli/*.py
include dongtai_agent_python/common/*.py
include dongtai_agent_python/report/*.py
include dongtai_agent_python/middlewares/*.py
include version.txt
